* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 300px));
    grid-template-rows: repeat(3, minmax(100px, auto));
    grid-auto-rows: minmax(100px, auto);  /* последний нижний элемент */
    gap: 10px;

}

.grid-elem {
    background-color: rgb(65, 65, 198);
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #000;
    border-radius: 4px;
}

#first {
    grid-column-start: 1;
    grid-column-end: 3;
}

#second {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

#third {
    grid-row-start: 1;
    grid-row-end: 4;
/*     grid-column-start: 1;
    grid-column-end: 3; */
}